.dashboard {
  height: calc(100vh - 1rem); /* 100vh - 32px */
  width: 100%;
  border-radius: 1.25rem; /* 25px */
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 1rem; /* 16px */
}

.sidebar {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.25);
  display: grid;
  grid-template-rows: 12.5% 1fr 12.5%;
  gap: 1rem; /* 16px */
  padding: 0.625rem;
}

.sidebar--middle {
  margin-top: 1rem;
  border-radius: 1.25rem; /* 25px */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar--bottom {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 0.5rem; /* 16px */
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logout {
  background-color: rgba(202, 12, 43, 0.1);
  padding: 0.5rem;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2.5px rgb(175, 175, 175);
  border-radius: 0.75rem;
}

.sidebar--top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem; /* 4px */
  background-color: rgba(70, 13, 87, 0.1);
  border-radius: 1rem; /* 16px */
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
  margin-bottom: 0.75rem;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80px 490px;
  /* grid-template-rows: 12.5%, 1fr; */
  gap: 1rem; /* 16px */
}

.content--header {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20%;
  height: 90%;
  border-radius: 1rem;
  background-color: rgb(214, 214, 214);
  box-shadow: 0.75px 0.75px 0.75px 0.75px rgba(6, 160, 96, 0.25);
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 0.5rem; /* 16px */
  justify-content: center;
  align-items: center;
}

.profile button {
  width: 80%;
}

.content--body {
  max-width: 100%;
  max-height: 500px;
  height: 100%;
  width: 100%;
  border-radius: 1.25rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.25);
  overflow: auto; /* Enable scrolling if content overflows */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 1rem;

  position: relative;
}

.sidebar--top img {
  max-width: 50%;
  max-height: 50%;
}

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu--list--inner svg {
  height: 1.25rem;
  width: 1.25rem;
}

.menu--list--inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.menu--list--inner:hover {
  background-color: rgba(200, 200, 200, 0.25);
  border-radius: 0.75rem;
  padding: 0.25rem;
  box-shadow: 1px 1px 1px rgb(150, 150, 150, 0.5);
  scale: 1.05;
}

.menu--list--inner:active {
  box-shadow: none;
  scale: 1;
}

.menu--list--inner:hover:nth-child(1) {
  margin-left: 5px;
}

.menu--list--inner:hover svg {
  color: rgba(175, 11, 79, 0.514);
}

.arrow-btn {
  position: absolute;
  right: -20px;
  height: 30px;
  width: 30px;
}

.arrow-btn svg {
  stroke-width: 1.5;
  opacity: 0.75;
}

.mirrored {
  transform: scaleX(-1);
}

.sun--moon {
  height: 35%;
  width: 65%;
  margin: auto;
  padding: 0.35rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem; /* 8px */
  border: 2.5px dotted rgba(128, 128, 128, 0.5);
  color: rgba(34, 34, 34, 0.99);
  border-radius: 1rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.5);
}

.sun--moon div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.active--theme,
.active--theme svg {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 0.75rem;
  margin: 0.25rem;
  color: rgba(43, 226, 73, 0.6);
  stroke-width: 1.75;
}

.sad-face {
  font-size: calc(15dvh);
  opacity: 0.85;
  margin: 0;
  padding: 0;
}

.page-notFound h1 {
  font-size: calc(5dvh);
  text-align: center;
}

.page-notFound p {
  font-size: calc(2dvh);
  text-align: center;
}

.page-notFound {
  height: 60%;
  width: 60%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px dotted gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.05);
}
