.dashboard {
  height: calc(100vh - 1rem); /* 100vh - 32px */
  width: 100%;
  border-radius: 1.25rem; /* 25px */
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 1rem; /* 16px */
}

.sidebar {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.25);
  display: grid;
  grid-template-rows: 12.5% 1fr 12.5%;
  gap: 1rem; /* 16px */
  padding: 0.625rem;
}

.sidebar--middle {
  margin-top: 1rem;
  border-radius: 1.25rem; /* 25px */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar--bottom {
  /* border: 2px dotted gray; */
  display: flex;
  gap: 1rem; /* 16px */
  justify-content: space-between;
}

.sidebar--top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem; /* 4px */
  background-color: rgba(70, 13, 87, 0.1);
  border-radius: 1rem; /* 16px */
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
  cursor: default;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 12.5% 1fr;
  gap: 1rem; /* 16px */
}

.content--header {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.25);
  display: flex;
  justify-content: center;
}

.content--body {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.25);
}

.sidebar--top img {
  max-width: 50%;
  max-height: 50%;
  display: block;
}

/* .sidebar--bottom svg {
  height: 65%;
  width: 65%;
} */

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu--list--inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.menu--list--inner svg {
  height: 1.25rem;
  width: 1.25rem;
}

.menu--list--inner:hover {
  background-color: rgba(200, 200, 200, 0.25);
  border-radius: 0.75rem;
  padding: 0.25rem;
  box-shadow: 1px 1px 1px rgb(150, 150, 150, 0.5);
  scale: 1.05;
}

.menu--list--inner:active {
  box-shadow: none;
  scale: 1;
}

.menu--list--inner:hover svg {
  color: rgba(175, 11, 79, 0.514);
}

.arrow {
  height: 50%;
  margin: auto 0;
}

.sun--moon {
  height: 50%;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem; /* 8px */
  /* border: 2px dotted gray; */

  color: rgba(34, 34, 34, 0.99);
  border-radius: 1rem; /* 25px */
  background-color: rgba(200, 200, 200, 0.5);
}

.sun--moon div {
  display: flex;
  justify-content: center;
}

.active--theme,
.active--theme svg {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 0.75rem;
  padding: 0.1rem;
  color: rgb(43, 226, 73);
  stroke-width: 1.5;
}
