.home {
  height: 84vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* border: 2px dotted gray; */
}

.key-points {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;

  padding: 2rem;
  /* border: 2px dotted gray; */
}

.key-point {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1.5rem;

  border: 1px solid rgba(128, 128, 128, 0.5);
}

.key-icon {
  height: 100px;
  stroke-width: 0.35;
  color: rgba(207, 22, 108, 0.74);
}

.home-header {
  text-align: center;
  margin-top: 1rem;
}

.key-point p {
  font-style: italic;
  font-size: 0.75rem;
  /* text-align: start; */
}
